# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/

# Local environment and config
*.local
.env
.vite

# Build and deployment
.vercel/
structure.txt

# Shell scripts
*.sh

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js
.next/
out/

# Vite
dist/


backend.tar.gz
beatreq-k.pem
update.sh

App.css
nextbeatmvp
planREADME.md