

.login-page,
.register-page {
  display: flex;
  justify-content: top;
  
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 40px;
  background-color: var(--bg-color);
   background: var(--card-bg);
  color: var(--text-color);
  background-size: cover;
  background-position: center;
}


.login-container,
.register-container {
  margin-top: 100px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 6px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px 60px;
  width: 520px;
  max-width: 90%;
  transform: translateY(40px);
  animation: fade_slide 0.6s ease-out 0.2s forwards;
  transition: all 0.3s ease-in-out;
}





.login-container input,
.register-container input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(205, 205, 205, 0.609);
  background: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  margin-bottom: 16px;
  outline: none;
  transition: border 0.2s ease, background 0.2s ease;
}

.login-container input:focus,
.register-container input:focus {
  border-color: var(--primary-accent);
  background: rgba(255, 255, 255, 0.3);
}


.login-container input::placeholder,
.register-container input::placeholder {
  color: var(--text-color);
  opacity: 0.6;
}


@keyframes fade_slide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.account-dropdown-menu.hidden {
  display: none;
}

.account-dropdown-menu.show {
  display: block;
  animation: dropdownFadeIn 0.3s ease forwards;
}


.my-book h3 {
  font-weight: 300;
  padding: none;
  margin: 0;
}

.logreg-title h2 {
  font-weight: 400;
margin-bottom: 0 !important;
margin-top: 10px !important
}

.login-instr h4 {
  font-weight: 400;
  margin-top: 8px !important
}





.sign-button, .reg-button  {
  padding: 0;
  width: 100;
  margin-bottom: 10px;
  height: 45px;
  background: rgba(0, 0, 0, 0.835);
  box-shadow: none !important;
  border: none;
  cursor: pointer;
  align-items: center;

}

.sign-button {
  p {
    padding: 0 !important;
    margin: 0 !important
  }
}


.sign-button,
.reg-button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  border-radius: 4px;
}

.sign-button::before,
.reg-button::before,
.continue-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 300%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 30%,
    #ff3cac 45%,
    #784ba0 50%,
    #2b86c5 55%,
    transparent 70%
  );
  opacity: 0;
  transition: none;
  pointer-events: none;
  z-index: 2;
}

.sign-button:hover::before,
.reg-button:hover::before {
  animation: shiny-wipe 1.2s ease-out forwards;
  opacity: 1;
}